﻿@model admin.copperheadcreations.com.Models.NewsEditViewModel
<section class="button__container">
    <a asp-controller="News" asp-action="Index" class="fancy__button fancy__button__dark button__spacer">Back</a>
</section>
<section class="container news__form">
    <form class="fancy__form color__grey bg__white" asp-action="CreatePost" asp-controller="News" method="post">

        <input asp-for="News.WebsiteId" hidden />

        <div class="form__row x30" id="Title">
            <input asp-for="News.Title" required />
            <label asp-for="News.Title"></label>
            <div class="after"></div>
        </div>
        <div class="form__row x30" id="Slug">
            <input asp-for="News.Slug" required />
            <label asp-for="News.Slug"></label>
            <div class="after"></div>
        </div>

        <div class="form__row x100">
            <input asp-for="News.PreviewText" required />
            <label asp-for="News.PreviewText"></label>
            <div class="after"></div>
        </div>

        <div class="form__row x30">
            <input asp-for="News.Author" />
            <label asp-for="News.Author"></label>
            <div class="after"></div>
        </div>

        <div class="form__row static static">
            <input class="xUnset" asp-for="News.Published" />
            <label asp-for="News.Published"></label>
        </div>

        <div class="form__row static x20">
            <input asp-for="News.Date" required type="date" />
            <label asp-for="News.Date"></label>
            <div class="after"></div>
        </div>

        <div class="form__row static x20">
            <select asp-for="News.TypeId" required>
                <option value="">--- select ----</option>
                @foreach (var i in Model.TypeList)
                {
                    <option value="@i.Id">@i.TypeTitle</option>
                }
            </select>
            <label asp-for="News.TypeId"></label>
            <div class="after"></div>
        </div>


        <textarea asp-for="News.Content" id="Editor-Content" hidden></textarea>



        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

        <!-- Create the editor container -->
        <div id="editor" class="form__editor">

        </div>
        <!-- Include the Quill library -->
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>



        <div class="form__row x10">
            <button>Submit</button>
        </div>

    </form>
</section>