﻿@model admin.copperheadcreations.com.Models.NewsListViewModel


<section class="container button__container">
    <a class="generic_button" asp-controller="News" asp-action="Create">Create New Article</a>
</section>
<section class="container">
    <div class="table">
        <div class="table__row table__header">
            <div class="table__cell x25">Title</div>
            <div class="table__cell x30">Slug</div>
            <div class="table__cell x10">Published</div>
            <div class="table__cell x20">Date</div>
            <div class="table__cell x5">Preview</div>
            <div class="table__cell x5">Edit</div>
            <div class="table__cell x5">Delete</div>
        </div>
        @foreach (var u in Model.List)
        {
    <div class="table__row">
        <div class="table__cell x25">@u.Title</div>
        <div class="table__cell x30">/@u.Slug</div>
        <div class="table__cell x10 published">
            @if (Convert.ToBoolean(u.Published))
            {<i class="fas fa-check-square"></i> }
            else
            {
                <i class="fas fa-window-close"></i>
            }
        </div>
        <div class="table__cell x20">@u.Date</div>
        <a asp-controller="Preview" asp-action="Article" asp-route-id="@u.Slug" class="table__cell x5 generic_edit"><i class="fas fa-eye"></i></a>
        <a asp-controller="News" asp-action="Edit" asp-route-id="@u.Id" class="table__cell x5 generic_edit"><i class="fas fa-edit"></i></a>
        <a asp-controller="News" asp-action="Delete" asp-route-id="@u.Id" class="table__cell x5 generic_delete"><i class="fas fa-trash-alt"></i></a>
    </div>
        }

    </div>
</section>
<style>
    .published{
        text-align:center;
    }
</style>
