﻿@model admin.copperheadcreations.com.Models.LawModel
<section class="button__container">
    <a asp-controller="Law" asp-action="Index" class="fancy__button fancy__button__dark button__spacer">Back</a>
</section>
<section class="container news__form">
    <form class="fancy__form color__grey bg__white" asp-action="CreateLaw" asp-controller="Law" method="post">

        <input asp-for="WebsiteId" hidden />

        <div class="form__row x30" id="Title">
            <input asp-for="Title" required />
            <label asp-for="Title"></label>
            <div class="after"></div>
        </div>
        <div class="form__row x30" id="Slug">
            <input asp-for="Slug" required />
            <label asp-for="Slug"></label>
            <div class="after"></div>
        </div>
        <p class="form__notes">
            Go to <a href="https://fontawesome.com/icons/">font awesome</a> and chose a non-pro icon, after selecting an icon there will be a string similar to  < i class="fas fa-ad"></ i> you need to copy the text between the quotes in this example: fas fa-ad
        </p>
        <div class="form__row x100">
            <input asp-for="Icon" required />
            <label asp-for="Icon"></label>
            <div class="after"></div>
        </div>


        <div class="form__row x100">
            <input asp-for="ShortDesc" required />
            <label asp-for="ShortDesc"></label>
            <div class="after"></div>
        </div>

        <textarea asp-for="Description" id="Editor-Content" hidden></textarea>

        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

        <!-- Create the editor container -->
        <div id="editor" class="form__editor">
            @Html.Raw(Model.Description)
        </div>
        <!-- Include the Quill library -->
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

        <div class="form__row x10">
            <button>Submit</button>
        </div>

    </form>
</section>

