﻿@model admin.copperheadcreations.com.Models.LawViewModel


<section class="container button__container">
    <a class="generic_button" asp-controller="Law" asp-action="Create">Create New Law Topic</a>
</section>
<section class="container">
    <div class="table">
        <div class="table__row table__header">
            <div class="table__cell x40">Title</div>
            <div class="table__cell x40">Slug</div>
            <div class="table__cell x10">Icon</div>
            <div class="table__cell x10">Edit</div>
        </div>
        @foreach (var u in Model.List)
        {
            <div class="table__row">
                <div class="table__cell x40">@u.Title</div>
                <div class="table__cell x40">/@u.Slug</div>
                <div class="table__cell x10">
                    <i class="@u.Icon"></i>
                </div>
                <a asp-controller="Law" asp-action="Edit" asp-route-id="@u.Id" class="table__cell x10 generic_edit"><i class="fas fa-edit"></i></a>
            </div>
        }

    </div>
</section>
<style>
    .published {
        text-align: center;
    }
</style>
