﻿
@{
    ViewData["Title"] = "Dashboard";
}
<section class="dash__header">
    <h1>
        Welcome to Copperhead Creations Admin Dashoboard
    </h1>
    <p>Choose the section you wish to edit on the left.</p>
</section>

<style>
    .dash__header{
        display:block;
        margin:3rem 1rem 0;
    }
    .dash__header h1{
        display:block;
        text-align:center;
        font-size:1.5rem;
        font-weight:700;
        color:#232323;
        margin:  0 0 2rem;
    }
    .dash__header p{
        display:block;
        text-align:center;
        margin:0 0 .5rem;
    }
</style>