﻿@model admin.copperheadcreations.com.Models.LoginModel

@{
    ViewData["Title"] = "Home Page";
}

<section class="container login__form">
        <form class="fancy__form color__white bg__grey" asp-action="Login" asp-controller="Home" method="post">
            <div class="form__row">
                <input asp-for="Username" required />
                <label asp-for="Username"></label>
                <div class="after"></div>
            </div>


            <div class="form__row">
                <input asp-for="Password" type="password" required />
                <label asp-for="Password"></label>
                <div class="after"></div>
            </div>
            <div class="form__row">
                <button>Submit</button>
            </div>
        </form>
</section>
