﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - admin.copperheadcreations.com</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/colors.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" asp-append-version="true">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/colors.css" />

    </environment>
</head>
<body class="pattern__bg">
    <header class="bg__grey">
        <div class="logo__container">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/cc_logo_v2.svg" /></a>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
