﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - admin.copperheadcreations.com</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/colors.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
       
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/colors.css" />
    </environment>
</head>
<body class="flexed__layout">
    <aside class="bg__grey flexed__layouy__left">
        <div class="logo__container">
            <a asp-controller="Home" asp-action="Dashboard"><img src="~/images/cc_logo_v2.svg" /></a>
        </div>
        @await Html.PartialAsync("/Views/Shared/_Navigation.cshtml")
    </aside>
    <div class="flexed__layouy__right">
        <header class="bg__dark">
            <div class="logout__button">
                    <a class="fancy__button" asp-controller="Home" asp-action="Logout"><i class="fas fa-sign-out-alt"></i></a>
            </div>
            <!--<div class="user__info color__white">Hello Tester, Test</div>-->
            <div class="nav__button"></div>
        </header>
        <main>
            @RenderBody()
        </main>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
