﻿<nav>
    <a class="menu__item" asp-controller="Home" asp-action="Dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
    <!--<a class="menu__item" asp-controller="Users" asp-action="Index"><i class="fas fa-users"></i>View All Users</a>-->
    <a class="menu__item" asp-controller="News" asp-action="Index"><i class="fas fa-newspaper"></i>Newsletter</a>
    <a class="menu__item" asp-controller="Law" asp-action="Index"><i class="fas fa-balance-scale"></i>Law</a>
    <a class="menu__item" asp-controller="Splash" asp-action="Index"><i class="fab fa-black-tie"></i>Splash</a>
    <!--<div class="menu__list">
        <div class="menu__header menu__item"><i class="fas fa-list-ul"></i>Nav List</div>
        <div class="menu__sublist">
            <a class="menu__item" asp-controller="Home" asp-action="Dashboard"><i class="fas fa-list-ul"></i>List Item 1</a>
            <a class="menu__item" asp-controller="Home" asp-action="Dashboard"><i class="fas fa-list-ul"></i>List Item 2</a>
            <a class="menu__item" asp-controller="Home" asp-action="Dashboard"><i class="fas fa-list-ul"></i>List Item 3</a>
        </div>
    </div>-->
</nav> 