﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model admin.copperheadcreations.com.Models.SplashModel
<section class="button__container">
    <a asp-controller="Splash" asp-action="Index" class="fancy__button fancy__button__dark button__spacer">Back</a>
</section>
<section class="container news__form">
    <form class="fancy__form color__grey bg__white" asp-action="CreateSplash" asp-controller="Splash" method="post">

        <input asp-for="WebsiteId" hidden />

        <div class="form__row x30" id="Title">
            <input asp-for="Title" required />
            <label asp-for="Title"></label>
            <div class="after"></div>
        </div>
        <textarea asp-for="Text" id="Editor-Content" hidden></textarea>

        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

        <!-- Create the editor container -->
        <div id="editor" class="form__editor">
            @Html.Raw(Model.Text)
        </div>
        <!-- Include the Quill library -->
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

        <div class="form__row x10">
            <button>Submit</button>
        </div>

    </form>
</section>

