﻿@model admin.copperheadcreations.com.Models.SplashViewModel


<section class="container button__container">
    <a class="generic_button" asp-controller="Splash" asp-action="Create">Create New Splash Box</a>
</section>
<section class="container">
    <div class="table">
        <div class="table__row table__header">
            <div class="table__cell x40">Title</div>
            <div class="table__cell x40">Text</div>
            <div class="table__cell x10">Edit</div>
            <div class="table__cell x10">Delete</div>
        </div>
        @foreach (var u in Model.List)
        {
            <div class="table__row">
                <div class="table__cell x40">@u.Title</div>
                <div class="table__cell x40">@u.Text</div>
                <a asp-controller="Splash" asp-action="Edit" asp-route-id="@u.Id" class="table__cell x10 generic_edit"><i class="fas fa-edit"></i></a>
                <a asp-controller="Splash" asp-action="Delete" asp-route-id="@u.Id" class="table__cell x10 generic_delete"><i class="fas fa-trash-alt"></i></a>
            </div>
        }

    </div>
</section>
<style>
</style>
