﻿.color__orange {
    color: #ED8517;
}

.bg__orange {
    background: #ED8517;
}

.color__grey {
    color: #565656;
}

.bg__grey {
    background: #565656;
}

.color__white {
    color: #FFF;
}

.bg__white {
    background: #FFF;
}

.bg__dark {
    background: #232323;
}
