﻿/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
main, nav, aside, header{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: 'Lato', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size:80%;
}

@media screen and (min-width:768px) {
    html {
        font-size: 90%;
    }

    .content--block {
        height: calc(100vh - 126px);
    }
}

@media screen and (min-width:1024px) {
    html {
        font-size: 100%;
    }
}

.pattern__bg{
    background-image: url(/images/background4.png);
}
/*              Main Layout              */
.flexed__layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
}
    .flexed__layout .flexed__layouy__left {
        width: 0;
        overflow: hidden;
        transition: all .125s linear;
    }

    .flexed__layout .flexed__layouy__right {
        width: 100%;
        min-height: 100vh;
        transition: all .125s linear;
    }

    .flexed__layout.active .flexed__layouy__left {
        width: 250px;
    }

    .flexed__layout.active .flexed__layouy__right {
        width: calc(100% - 250px);
        min-height: 100vh;
    }


@media screen and (min-width:768px) {

}

@media screen and (min-width:1024px) {
    .flexed__layout .flexed__layouy__left, .flexed__layout.active .flexed__layouy__left {
        width: 250px;
    }

    .flexed__layout .flexed__layouy__right, .flexed__layout.active .flexed__layouy__right {
        width: calc(100% - 250px);
        min-height: 100vh;
    }
}

/*              General              */
.container {
    display: block;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 .5rem;
    position: relative;
}

.generic_edit {
    text-align: center;
    color: #232323;
    text-decoration: none;
}

.generic_delete {
    text-align: center;
    color: red;
    text-decoration: none;
}



.generic_button {
    display: inline-block;
    padding: .5rem 2rem;
    border-radius: 30px;
    color: #fff;
    border: #232323 1px solid;
    background: #565656;
    text-decoration: none;
    transition: background-color .25s ease-in-out;
}

    .generic_button:hover {
        background: #232323;
    }

.button__container {
    margin: 1rem auto;
}

.align__left {
    text-align: left;
}

.align__center {
    text-align: center;
}

.align__right {
    text-align: right;
}
/*              Aside              */
aside {
    position: relative;
}

aside .logo__container, header .logo__container {
    display: block;
    width: 150px;
}
aside .logo__container {
    margin: 0 auto;
}

aside footer{
    display:block;
    position:absolute;
    bottom:0;
    left:0;
}

.menu__item {
    display: block;
    background: #fff;
    color: #232323;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-right: 1px solid #565656;
    border-bottom: 1px solid #565656;
    text-decoration: none;
    font-size: 1.12rem;
}
    .menu__item:hover{
        background: #232323;
        color: #fff;
    }
    .menu__item i {
        padding: 0 1rem 0;
    }

.menu__list {
    background: #ED8517;
}
.menu__header{
    position:relative;
    cursor:pointer;
}
.menu__header::after {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    display: inline-block;
    color: inherit;
    content: '\f078';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    vertical-align:top;
}
    .menu__list.active .menu__header::after {
    content: '\f077';
}
.menu__sublist {
    display: none;
}
    .menu__sublist .menu__item{
        width:95%;
        margin-left:5%;
    }
.menu__list.active .menu__sublist {
    display: block;
}

@media screen and (min-width:768px) {
}

@media screen and (min-width:1024px) {
}

/*              Header              */
header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 4px 8px;
    position:relative;
}
.flexed__layouy__right header {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    padding: 4px 8px;
    height:50px;
    overflow:hidden;
}

    header .user__info {
        margin: 0 2rem 0 0;
    }

.nav__button {
    display: block;
    position: absolute;
    left: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    padding: 10px 0 0;
    background: #ED8517;
    color: #232323;
}
    .flexed__layout .nav__button::after {
        content: '\f0c9';
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        color:
    }
    .flexed__layout.active .nav__button::after {
        content: '\f00d';
    }

@media screen and (min-width:768px) {
}

@media screen and (min-width:1024px) {
    .nav__button{
        display:none;
    }
}



/*              Main              */
.flexed__layouy__right main {
    display: block;
    width: 100%;
    padding: 8px;
    overflow-y: scroll;
    height: calc(100vh - 50px);
}

    .flexed__layouy__right main::-webkit-scrollbar {
        width: 6px;
        background-color: #565656;
    }
    .flexed__layouy__right main::-webkit-scrollbar-thumb {
        background-color: #ED8517;
    }

/*              form                */
input, textarea {
    color: inherit;
}

/*****form styles******/
.fancy__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.form__notes{
    font-size:.85rem;
    padding:.5rem;
    color:red;
}


.form__row {
    display: block;
    position: relative;
    padding: 0 0 20px;
    -webkit-box-flex: 5;
    -ms-flex-positive: 5;
    flex-grow: 5;
}

    .form__row.last {
        display: block;
        padding: 0;
    }

.enter {
    margin: 20px 20px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

label {
    position: absolute;
    top: 0px;
    left: 0;
    letter-spacing: 2px;
    font-size: 1rem;
    color: RGBA(255, 255, 255, 0.8);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input:focus ~ label, textarea:focus ~ label, select:focus ~ label {
    color: RGBA(237,133,23, 0.8);
}

input:focus ~ label, input:valid ~ label,
textarea:focus ~ label, textarea:valid ~ label,
select:focus ~ label, select:valid ~ label {
    top: 12px;
    letter-spacing: 0px;
    -webkit-transform: translate(0, -30px) scale(0.7, 0.7);
    -ms-transform: translate(0, -30px) scale(0.7, 0.7);
    transform: translate(0, -30px) scale(0.7, 0.7);
}

.static label {
    top: 12px;
    letter-spacing: 0px;
    -webkit-transform: translate(0, -30px) scale(0.7, 0.7);
    -ms-transform: translate(0, -30px) scale(0.7, 0.7);
    transform: translate(0, -30px) scale(0.7, 0.7);
}

textarea, input, select {
    font-size: 1rem !important;
    width: 100%;
    border: none;
    margin-top: 0;
    background-color: transparent;
    font-family: inherit;
}

    textarea:focus, input:focus, select:focus {
        outline: none;
    }

.after {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, RGBA(237, 133, 23, 0.8) 50%, transparent 50%);
    background-color: RGBA(254, 253, 255, 1.0);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


textarea:focus ~ .after, input:focus ~ .after, select:focus ~ .after {
    background-position: 0 0;
}

textarea {
    resize: none;
    height: 60px;
}

button, .fancy__button {
    font-family: inherit;
    position: relative;
    font-size: 1rem;
    width: 100%;
    padding: .5rem 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 1.0);
    background: white;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, rgba(237,133,23, 0.8) 50%, transparent 50%);
    background-color: rgba(255, 255, 255, 1.0);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
    button:active, .fancy__button:active,
    button:focus, .fancy__button:focus,
    button:hover, .fancy__button:hover {
        outline: none;
        background-position: 0 0;
        color: white;
    }

.fancy__button__dark {
    background-color: rgba(35, 35, 35, 1.0);
    color: rgba(255, 255, 255, 1.0);
}
.button__spacer{
    margin: .5rem 1rem;
}
/*              Table               */
.table {
    display: block;
}

.table__row {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: stretch;
    width: 100%;
}

    .table__row:nth-child(odd) {
        background: rgba(237, 133, 23, .25);
    }
    .table__row.table__header {
        background: #232323;
        color: #fff;
    }

.table__cell { 
    display: block;
    width: 100%;
    padding: .75rem 1rem;
    border: 1px solid #000;
}

.table__header .table__cell {
    xborder: 1px solid #000;
    border-bottom: 3px solid #ED8517;
}
.table__cell.centered{
    text-align:center;
}
.x100 {
    width: 100%;
}

.x90 {
    width: 90%;
}

.x80 {
    width: 80%;
}

.x70 {
    width: 70%;
}

.x60 {
    width: 60%;
}

.x50 {
    width: 50%;
}

.x40 {
    width: 40%;
}

.x30 {
    width: 30%;
}
.x25 {
    width: 25%;
}
.x20 {
    width: 20%;
}

.x15 {
    width: 15%;
}

.x10 {
    width: 10%;
}

.x5 {
    width: 5%;
}

.xUnset{
    width:unset;
}
     

/*              Login               */

.login__form{
    min-height:calc(100vh - 85px);
}
    .login__form form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3rem;
        max-width: 450px;
        width: 90%;
        -webkit-box-shadow: 10px 10px 28px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 28px 1px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 28px 1px rgba(0,0,0,0.75);
        border-radius: 3px;
    }

/*              News               */
.news__form {
    padding: 1rem;
}

    .news__form label {
        color: RGBA(35, 35, 35, 0.8);
    }


    .news__form button {
        background-color: RGBA(35, 35, 35, 0.8);
        color: RGBA(255, 255, 255, 0.8);
    }

    .news__form .after {
        background-color: RGBA(35, 35, 35, 0.8);
    }

    .news__form .form__editor {
        height: 400px;
        margin: 0 0 1rem;
    }

/*              User               */
.user__form {
    padding: 1rem;
}

    .user__form label {
        color: RGBA(35, 35, 35, 0.8);
    }


    .user__form button {
        background-color: RGBA(35, 35, 35, 0.8);
        color: RGBA(255, 255, 255, 0.8);
    }

    .user__form .after {
        background-color: RGBA(35, 35, 35, 0.8);
    }

    .user__form .form__editor {
        height: 400px;
        margin: 0 0 1rem;
    }