﻿@model admin.copperheadcreations.com.Models.CreateUserModel

@{
    ViewData["Title"] = "Home Page";
}
<section class="button__container">
    <a asp-controller="Users" asp-action="Index" class="fancy__button fancy__button__dark button__spacer">Back</a>
</section>
<section class="container user__form">
    <form class="fancy__form color__grey bg__white" asp-action="CreateUser" asp-controller="Users" method="post">
        <div class="form__row">
            <input asp-for="Username" required />
            <label asp-for="Username"></label>
            <div class="after"></div>
        </div>
        <div class="form__row">
            <input asp-for="Password" type="password" required />
            <label asp-for="Password"></label>
            <div class="after"></div>
        </div>
        <div class="form__row">
            <button>Submit</button>
        </div>
    </form>
</section>
