﻿
@{
    ViewData["Title"] = "Edit";
}
<section class="button__container">
    <a asp-controller="Users" asp-action="Index" class="fancy__button fancy__button__dark button__spacer">Back</a>
</section>
<h1>Edit</h1>

